body {
	margin: 0;
	/* border: 1px solid; */
	background-color: rgb(255, 255, 255) !important;
}

.dgContainer {
	background-color: rgba(98, 143, 199, 0.103);
	margin: 0;
	border: 1px solid rgba(98, 143, 199, 0.103);
	padding-bottom: 50px;
}

img {
	/* float: left; */
	height: auto;
	/* max-width: 100%; */
	
}

.dgContainer h1 {
	text-align: center;
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 50px;
	
}





#bandmemberinfo-container {
	width: 83%;
	background-color: white !important;
	height: auto;
	/* margin-top: 10px; */
	border: 1px solid rgba(255, 255, 255, 0.123);
	color: black !important;
	font-family: Arial;
	font-size: 10px;
	margin: 0 auto;
	/* text-transform: uppercase; */
	box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.521);
}

#bandmemberinfo-container img {
	width: 100%;
	max-width: 250px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

.dgPara {
	/* border: 1px solid; */
	padding-top: 5px;
	padding-left: 5px;
	text-align: justify;
	padding-right: 5px;
	word-wrap: break-word;
}

.contact-area {
	
	margin-top: 40% !important;
}


/* 1. Virtual Attendent styling */

@media screen and (max-width: 550px) {
	#bandmemberinfo-container {
		
	}

	#bandmemberinfo-container img {
		float: none;
		/* border: 5px solid !important; */
		max-width: 500px !important;
		/* margin: 0 auto !important;  */
	}
}

/* 1. Virtual Attendent styling end */



@media screen and (max-width: 700px) {
	.contact-area {
	
		margin-top: 40% !important;
	}


}

@media screen and (max-width: 1100px) {
	.dgContent {
		flex-direction: column;
	}

	
}


